<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
	  	<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Es.Udc.DotNet.PracticaMaD.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Es.Udc.DotNet.PracticaMaD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	  
	  
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	
  <connectionStrings><add name="PracticaMaDEntities" connectionString="metadata=res://*/PracticaMaD.csdl|res://*/PracticaMaD.ssdl|res://*/PracticaMaD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=PracticaMaD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	
  <system.web>
	  <authentication mode="Forms">
		  <forms name=".ASPXAUTH" loginUrl="~/Pages/Authentication.aspx" timeout="30" path="/" defaultUrl="~/Pages/Home.aspx" cookieless="AutoDetect" />
	  </authentication>
	  
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime />
	  
	  <!-- Restringe a los usuarios anónimos -->
	  <authorization>
	    	<deny users="?" />
	  </authorization>
	  
    <pages controlRenderingCompatibilityVersion="4.0" />

	  <!-- Configuración de internacionalización automática para formato 
	  y idioma basados en la configuración del navegador del cliente -->
	  <globalization culture="auto:en" uiCulture="auto:en-US" />

	  <!-- Configuración de sesión que utiliza cookies para mantener el estado de sesión
	  y expira después de 30 minutos de inactividad -->
	  <sessionState cookieless="UseCookies" timeout="30" />	  
	 
  </system.web>
	
	<!-- Restringe a los usuarios anónimos a todas las páginas -->
	<location path="~/Pages">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	
	<!-- Permite a todos los usuarios la página register -->	
	<location path="Pages/Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Permite a todos los usuarios la página authentication -->	
	<location path="Pages/Authentication.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the Main Page (Home) -->
	<!-- Permite a todos los usuarios la página Home -->	
	<location path="Pages/Home.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the Show Images Page -->
	<!-- Permite a todos los usuarios la página ShowImages -->
	<location path="Pages/ShowImages.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the Image Details Page -->
	<!-- Permite a todos los usuarios la página ImageDetails -->
	<location path="Pages/ImageDetails.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the Image Show Comments Page -->
	<!-- Permite a todos los usuarios la página ShowComments -->
	<location path="Pages/ShowComments.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the Show User Profile Page -->
	<!-- Permite a todos los usuarios la página ShowUserProfile -->
	<location path="Pages/ShowUserProfile.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the User not found exception Page -->
	<!-- Permite a todos los usuarios la página UserNotFoundException -->
	<location path="Pages/Errors/UserNotFoundException.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- This section gives the unauthenticated user access to the ShowTags Page -->
	<!-- Permite a todos los usuarios la página ShowTags -->
	<location path="Pages/ShowTags.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>	
	
	<!-- This section gives the unauthenticated user access to the Google Login Page -->
	<!-- Permite a todos los usuarios la página GoogleLogin -->
	<location path="Pages/GoogleLogin.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	
	<!-- Permite a todos los usuarios ver el css -->	
	<location path="Css/Styles.css">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	
		
			
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.Interception" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.5.0" newVersion="3.3.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.6.0" newVersion="3.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
	<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Es.Udc.DotNet.PracticaMaD.Web.Properties.Settings>
      <setting name="PracticaMaD_defaultCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PracticaMaD_applicationURL" serializeAs="String">
        <value>/PracticaMaD</value>
      </setting>
    </Es.Udc.DotNet.PracticaMaD.Web.Properties.Settings>
  </applicationSettings>
</configuration>